/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-09-24, 09:31:02
    Author     : Utilisateur
*/

table,td {
    font-size: 1em;
    border-style: solid;
    text-align: center;
}
table {
    width: 200px;
    height: 100px;
}