/*
Relatif à la mise en page d'un exercice sur les disposition
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#principale, #pied {
    display: block;
}

#gauche {
    background-color: aquamarine;
}

#pied {
    background-color: #333;
}